@media (max-width: 1024px) {
    .burger_icon {
      display: block;
    }
    .nav_div {
      display: none;
    }

    .section_2 {
      padding: 96px 98px;
    }

    .section_3 {
      padding: 96px 0 96px 32px;
    }

    .section_4 {
      background-position: right;
    }
    .footer_container{
      padding: 48px 98px 0 98px;
        }
      .contactus{
        background-position: left;
      }
      .contactus{
        padding: 106px 94px 105px 314px;
        background-image: url(../images/Rectangle\ 7\ \(4\).png);
      }
      /* .contactus_h3{
        width: 295px;
        font-size: 16px;
line-height: 24px;

      } */
/* 
      .div_info{
        width: 295px;
height: 56px;
padding: 16px 92px;
justify-content: center;
align-items: center;

      } */

  
  }
  
  @media (max-width: 745px) {

    header {
      padding: 16px 32px;
    }

    .section_2 {
      padding: 48px 32px;
    }

    .section2_divs img {
      width: 330px;
      height: 240px;
    }

    .section3 {
      padding: 96px 0 96px 32px;
    }
    .section_4 {
      background-position: right;
    }
    .footer_container{
      padding: 48px 32px 0 32px;
      column-gap: 149px;
        }
        .contactus{
          background-image: url(../images/Rectangle\ 7\ \(5\).png);
          padding: 48px 64px 48px 64px;
        }
  
  }


  @media (max-width: 376px) {
    header {
      padding: 8px 28px;
    }
    .logo_img1 {
      width: 40px;
      height: 40px;
     
    }
    .header_icon_div
     {
      column-gap: 16px;
    }
    .header_icon_div_pic{
      width: 32px;
      height: 32px;
    }
    .shoppingcart{
      width: 32px;
      height: 32px;
    }
  .burger_icon{
    width: 32px;
    height: 32px;
  }
.section_title{
  font-size: 24px;
line-height: 32px;
}
.button_section{
font-size: 24px;
line-height: 32px;
}
  .section_2 {
    padding: 32px 8px;
  }

  .section2_divs img {
    width: 170px;
    height: 160px;
  }
  
  .titles {
    font-size: 16px;
    line-height: 24px;
  }

  .section3 {
    padding: 96px 0 96px 8px;
  }

  .section4_h3{
    font-size: 24px;
  line-height: 32px;
  }
  .email_input{
    width: 201px;
    height: 48px;
  }
  .footer_container{
    display: block;
    margin: auto;
  }
  .footer_nav_div_middle{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .contactus{
    background-image: url(../images/Rectangle\ 7\ \(5\).png);
    padding: 32px 40px 32px 40px;
  }
  .contactus_input_div{
    display: flex;
    flex-direction: column;
  }
.iconbox_contactus{
display: flex;
justify-content: center;
align-items: center;

}
.firstdiv_info span,
.seconddiv_info span
{
  display: none;
}
.firstdiv_info img,
.location_icon{
  /* width: 24px;
  height: 24px; */
display: none;
}
.seconddiv_info img{
  /* width: 15px;
height: 24px; */
display: none;
}
.contactus_h3{
  width: 295px;
  font-size: 16px;
line-height: 24px;

} 
.div_info{
  width: 295px;
height: 56px;
padding: 16px 92px;
justify-content: center;
align-items: center;

}
.hide_div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.hide_div img{

  width: 24px;
  height: 24px;
}

  }