/* container */
/* homepage */
.container {
    width: min(100%, 1440px);
    margin: auto;
    position: relative;
    padding-top: 88px;
  }
  /* header */
  header {
    height: 96px;
    padding: 16px 92px;
    background-color: #012426;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    max-width: inherit;
    width: inherit;
    z-index: 1;
  }
  .logo_img1{
    width: 64px;
height: 64px;
animation: spin 5s infinite;
  }
  .logo:hover{
    -webkit-animation: spin 5s infinite;
     animation: spin 5s infinite;
  }
  
  @-webkit-keyframes spin{
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(-360deg);
    }
  }
  
  @keyframes spin{
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }
  .burger_icon {
    display: none;
    font-size: 32px;
color: #05BCCA;
  }
  .fa-circle-xmark{
    display: none;
    font-size: 32px;
color: #05BCCA;
  }
  .header_ul{
    display: flex;
    column-gap: 72px;
  }
  .header_li a {
    color: #a1c3c9;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .header_li a:hover {
    color: white;
  }
 
   .header_icon_div {
    display: flex;
    column-gap: 32px;
  }
  .header_icon_div_pic:hover{
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
  }
  .shoppingcart{
     border-radius: 8px;
  border: 2px solid #05BCCA; 
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .fa-cart-shopping{
  font-size: 15px;
  align-items: center;
  color: #05BCCA;

  }
  .shoppingcart:hover{
    box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
  }
  /* section */

.section_1{
  background-image: url(../images/Rectangle\ 1\ \(3\).png);
  height: 480px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.section_cover {
  height: 480px;
  width: 1440px;
  display: flex;
  justify-content: center;
}
.section_img {
  position: relative;
  width: 100%;
  height: 480px;
  
}
.section_div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  column-gap: 24px;
  margin-top: 72px;
}
.section_title {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.section_span {
  color: #05bcca;
}
.button_section {
  border: none;
  background-color: #c46a2b;
  border-radius: 4px;
  display: flex;
  width: 36px;
  height: 24px;
  padding: 0px 6px;
  justify-content: center;
  align-items: center;
}
.button_section:hover {
  width: 40px;
  background-color: #012426;
  box-shadow: 0px 0px 8px 4px #012426;
}

.fa-arrow-right {
  color: white;
  font-size: 15px;
}

/* section 2 */

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 306px;
  background: #012426;
}

.section_2_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    row-gap: 20px;
}

.section2_divs {
  display: flex;
  position: relative;
  
}

.sections2_divs img {
  width: 404px;
  height: 240px;
}


.titles {
  color: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  position: absolute;
  margin-top: 16px;
  margin-left: 16px;
}
.titles:hover{
  text-shadow: 4px 5px 20px  rgba(5, 12, 202, 0.8),
    -2px 1px 30px  rgba(21, 5, 202, 0.8);
}

/* section 3 */
.section_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1A1A1A;
  padding: 96px 94px;
}

.title_3 {
  margin-bottom: 10px;
  color: #05BCCA;
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;

}
.underline_s3{
  width: 187.267px;
  height: 2px;
  margin-bottom: 64px;
  background-color: #05BCCA;
}
.section3_div {
  display: flex;
  width: 100%;
  column-gap: 20px;
  overflow: hidden;
  overflow: scroll;
  /* border: 1px solid red; */
}

.cards {
  border: 1px solid #05BCCA;
  background: #2C4246;
  padding: 8px 8px 16px 8px;
  height: 400px;
}
.cards:hover{
  box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
}
.section_3_figcaption{
  margin-top: 16px;
  color: white;
  font-family: 'Inter', sans-serif;
}
.section3_img {
  width: 100%;
  height: 290px;
  margin-bottom: 16px;

}

.name {
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.description {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  font-size: 16px;
  color: #C46A2B;
  margin-inline: 2px;
}

.review {
  margin-left: 8px;
  margin-right: 69px;
  color: #A1C3C9;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

.price {
  color: #05BCCA;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}


/* section 4 */

.section_4 {
  background-image: url(../images/Rectangle\ 6.png);
  height: 320px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4_h3{
  color: #05BCCA;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
}
.input_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.email_input{
  width: 361px;
  height: 48px;
  padding-left: 8px;
  align-items: center;
  gap: 240px;
  border-radius: 8px;
  border: 1px solid #F5F5F5;
  background: rgba(44, 66, 70, 0.80);
  vertical-align: middle;
}
.form_button{
width: 119px;
  height: 48px;
  padding: 15px 14px 14px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 8px 8px 0px;
  background-color: #05BCCA;
  color: white;
  font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
vertical-align: middle;
}
.form_button:hover{
  box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
}
 ::placeholder{
    color: #A1C3C9;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  }

/* footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #2C4246;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48px 306px 0;
  
}

.footer_nav_div,
.footer_nav_div_middle{
  display: flex;
  flex-direction: column;
}
.footer_nav_div span{
font-size: 16px;
}
.underline{
  width: 80px;
height: 2px;
margin-bottom: 24px;
background-color: white;
}

.footer_nav_div,
.footer_nav_div_middle h3 {
  /* width: 100%; */
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 1px;
}

li {
  margin-bottom: 8px;
}

li a {
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.nav_3_title{
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-decoration: underline;

}
.iconbox{
  display: flex;
  gap: 16px;
  margin-top: 8px;
}
.iconbox i{
color: white;
font-size: 32px;

}
.iconbox i:hover{
  box-shadow: 0px 0px 8px 4px rgba(184, 190, 190, 0.8);
}

.end_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  column-gap: 4px;
  background-color: #2C4246;
}
.footer_p{
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

/* contact us */
.hide_div{
  display: none;
}
/* section */
.contactus{
  background-image: url(../images/Rectangle\ 7\ \(3\).png);
  background-size: cover;
  background-position: center;
  height: 720px;
  padding: 96px 92px 115px 730px;

}
.contactus_h3{
  width: 616px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.div_info{
  background-color: #2C4246;
  display: flex;
  justify-content: space-between;
width: 616px;
padding: 35px 40px;
gap: 24px;
margin-top: 40px;
}
.vaxchemi{
display: flex;
flex-direction: column;
gap: 24px;
}
.div_info span{
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.firstdiv_info {
display: flex;
align-items: center;
gap: 16px;
}
.firstdiv_info a:hover{
  box-shadow: 0px 0px 8px 4px rgba(150, 154, 154, 0.8);
}
.firstdiv_info img{
  width: 24px;
height: 24px;

}
.seconddiv_info{
  display: flex;
align-items: center;
gap: 16px;
}
.seconddiv_info a:hover{
  box-shadow: 0px 0px 8px 4px rgba(150, 154, 154, 0.8);
}
.seconddiv_info img{
  width: 15px;
height: 24px;

}
.location_icon:hover{
  box-shadow: 0px 0px 8px 4px rgba(150, 154, 154, 0.8);
}
.location_icon{
  width: 80px;
height: 80px;
}
.column_div{
  display: flex;
  flex-direction: column;
}
.contactus_input_div{
  display: flex;
  gap: 40px;
}
.contactus_input_div{
  margin-top: 40px;
}
.column_div{
  margin-top: 16px;
}
.contactus_name{
  width: 141px;
padding: 6px 99px 6px 8px;
background-color: #2C4246;
}
.contactus_email{
  width: 141px;
  padding: 6px 99px 6px 8px;
  background-color: #2C4246;
}
.contactus_textarea{
  width: 290px;
padding: 6px 230px 77px 8px;

}
.column_div button{
  width: 290px;
  font-family: 'Inter', sans-serif;
  padding: 8px 83px;
justify-content: center;
align-items: center;
background-color: #C46A2B;
margin-top: 24px;
color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.column_div button:hover{
  box-shadow: 0px 0px 8px 4px #C46A2B; 
}
.maps{
  width: 286px;
height: 151px;
}
.contactus_name::placeholder{
  color: #A1C3C9;

  font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.contactus_email::placeholder{
  color: #A1C3C9;
  font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.contactus_textarea{
  resize: none;
  background-color: #2C4246;
  height: 103px;
  padding: 6px 230px 77px 8px;
  color: #A1C3C9;
  font-family: 'Inter', sans-serif;
font-size: 6px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.contactus_textarea::placeholder{
  color: #A1C3C9;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.iconbox_contactus{
  display: flex;
  gap: 16px;
  margin-top: 32px;
}
.iconbox_contactus i{
  font-size: 32px;
  color: rgb(5,188,202);
}
.iconbox_contactus i:hover{
  box-shadow: 0px 0px 8px 4px rgba(5, 188, 202, 0.80);
}

/* catalog */
/* section */
.top_section{
  height: 145px;
  border-top: 2px solid #05BCCA;
background-color: #1A1A1A;

}
.divs_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}
.divs,
.divs_middle{
  display: flex;
width: 155px;
height: 73px;
padding: 18px 24px;
justify-content: center;
align-items: center;
border: 1px solid #05BCCA;
}
.divs_middle{
  background: #A1C3C9;

}
.divs_middle p{
  color: #2C4246;
}
.div_p{
  color: #FFF;
  font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 37px;
}
.divs:hover{
  background-color: #A1C3C9;

}
.divs_middle:hover{
  background-color: #A1C3C9;
}
/* section 2 */
.middle_section{
 
  background-color: #012426;;
  height: 2112px;
padding: 96px 75px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.top_section_first_div p{
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
}
.whole_div_catalog{
  /* padding: 96px 94px; */
  display: flex;

  justify-content: space-between;
  margin-bottom: 64px;
}
.top_section_first_div{
  display: flex;
  gap: 16px;
}
.top_section_first_div img:hover{
  box-shadow: 0px 0px 8px 4px rgba(150, 154, 154, 0.8);
}
.top_section_second_div{
  display: flex;
  gap: 32px;
}
.selector_div{
  width: 160px;
height: 32px;
padding: 4px 8px;
background-color: #A1C3C9;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 33px;

}
.selector_div p{
  font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px

}
.sort_by{
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

 .cards_figure {
  flex: 0 1 298px;
height: 400px;
   background: #2C4246; 
 }
.fig_img{
width: 100%;
height:  298px;
object-fit: cover;

}
.cards_div {
  display: flex;
  gap: 40px;
  
}

.div_cards {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  row-gap: 40px;
}



.fig_div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-left: 8px;

}

.figure_title {
  font-family: 'Inter', sans-serif;
color: #FFF;
font-size: 16px;
margin-top: 16px;
}

.decription1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price{
  margin-right: 8px;
  font-size: 14px;
}
.review{
  font-size: 10px;
}
.price_div1 {
  display: flex;
 gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #05BCCA;
}

.preview_next_div{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
  margin-top: 64px;
}
.preview{
  display: flex;
width: 121px;
height: 40px;
padding: 8px;
border-radius: 8px;
background: #C46A2B;
color: #D9D9D9;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
justify-content: center;
align-items: flex-start;

}
.preview_next_div p{
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.displaynone_desktop{
  display: none;
}
.next{
  display: flex;
height: 40px;
padding: 8px;
justify-content: center;
align-items: flex-start;
border-radius: 8px;
background: #05BCCA;
color: #D9D9D9;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}
.figure_img{
  width: 100%;
  /* height: 298px; */
}